.venv/
__pycache__/
.pytest_cache/
.github/
.vscode/
assets/
data/*
!data/*.py
logs/
postgres_data/
saved_models/
weights/
*.pth
!weights/production/*.pth
.env
steganography_IP_protection.egg-info
env/
data/fast_patches/
data/high_res_images/
benchmark_runs/
*.pyc
.git/